#container{width:950px; margin:0 auto}

#header{width:870px; padding-left:40px; padding-right:40px}

#navigation{width:950px; margin:0 auto}
#leftnavigation{width:550px; padding-left:20px; padding-right:20px}
#rightnavigation{width:310px; padding-left:20px; padding-right:20px; text-align: left}

#content{width:950px; margin:0 auto; border-bottom-style:solid; border-bottom-width:2px}
#content #normalcontent{width:910px; padding-left:20px; padding-right:20px}
#content .normalcontent{width:910px; padding-left:20px; padding-right:20px}
#content #leftcontent{width:390px; padding-left:40px; padding-right:40px}
#content #rightcontent{width:390px; padding-left:40px; padding-right:40px}

#extra{width:870px; padding-left:40px; padding-right:40px}
#footer{width:550px; padding-left:200px; padding-right:200px}

/* General ---------------------------------------------------------------- */
body { font-size: 95%; font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif; margin: 0; padding: 0; background-color: #6ad;}

img { border: 0; }
h3 { font-size: 130%; margin: 1.25em 0 .5em; }
a { color: #147; }
a:hover { text-decoration: none; }
p { margin: 1.2em 0 .6em; }
/*h1 { margin: 0 0 .5em; font-size: 2em; }*/
h1 { margin: -20px -20px 0; padding: 10px 20px; font-size: 1.5em; text-shadow: -1px 2px 3px #bbb; }
h2 { margin: 1em 0 .5em; font-size: 1.6em; }
h3, h4 { margin: .5em 0; font-size: 1.2em; font-weight: bold; }

.hidden { display: none; }
.clear { font-size: 1px; clear: both; }
.warning { color: #D42B27; }

.handle { display: none; cursor: move; }

/* Site Title ------------------------------------------------------------- */
#header #site-title, #header #site-title a, #header #site-title a:hover{ font-size:150%;  font-weight:bold;  margin-top:19px;  padding-bottom:20px;  text-shadow:-1px 2px 3px #111; text-decoration:none}

/* Site links ------------------------------------------------------------- */
#header #site-links { font-size: 70%; right: 0; margin-top: 20px; font-weight: normal}
#header #site-links a, #site-links a:visited { text-decoration: none; font-weight: normal}
#header #site-links a:hover, #site-links a:visited:hover { text-decoration: underline; font-weight: normal}

/* Navigation ------------------------------------------------------------- */
#navigation{ height:29px}
#navigation ul{}
#navigation li{ display:inline;  list-style:none;  border:none}
#navigation a:link, 
#navigation a:visited{ float:left;  margin-right:3px;  padding:6px 4px 5px;  font-size:13px;  line-height:16px;  font-weight:normal;  text-decoration:none !important}
#navigation a:hover{}

#navigation a:link.current, #navigation a:visited.current{ font-weight:bold;  text-decoration:none}
#navigation .right{ float:right}

/* Messages --------------------------------------------------------------- */
#error, #reasons, #success, #notice { margin: -20px -20px 20px; padding: 5px 20px; text-align: left}
#sidebar-error, #sidebar-reasons #sidebar-success, #sidebar-notice { padding: 5px 65px; text-align: left}
#error a, #sidebar-reason a { font-weight: bold}
#success { }

/* Footer ----------------------------------------------------------------- */
#footer { font-size: 80%; float: left; padding-top: 20px; padding-bottom: 20px; width: 100%}
#footer p { padding-left: 20px; padding-right: 20px}
#footer .stats { margin-top: -5px; font-size: .9em}

/* Colors Duke, Colors! --------------------------------------------------- */
body, #extra, #footer{background-color:#e5e5e5}
body{font-family:"Lucida Grande","Bitstream Vera Sans",Helvetica,Verdana,Arial,sans-serif}
#container{background-color:#ffffff}
#header{ background-color:#242424}
#header #site-title a, #header #site-title a:hover, #header #site-links a, #header #site-links a:hover{ color:#ffffff}
#header #site-links{ color:#888888}
#navigation{ background-color:#242424}
#leftnavigation ul li a, #rightnavigation ul li a{background-color:#323232; border-color:#454545; color:#eeeeee}
#info { background: #EDFE86; }
#notice { background: #4682B4; color: #fff;}
#error { background: #C11B17; color: #fff; }
#error a { color: #fff; }
#reasons { background: #FF7F00; color: #fff; }
#reasons a { color: #fff; }
#success { background: #008000; color: #051; }

h1 { color: #fff; background-color: #333; text-shadow: -1px 2px 3px #111}
#content{ border-color: #c7c7c7}